{% extends 'admin/manage.html' %}
{% load static %}
{% load custom_filters %}
{% block blog-slide %}

    {% include 'admin/layout/message.html' %}

    <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">ĐƠN HÀNG</h1>
{#                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.#}
{#                        For more information about DataTables, please visit the <a target="_blank"#}
{#                            href="https://datatables.net">official DataTables documentation</a>.</p>#}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Khách hàng</th>
                                            <th>Thanh Toán</th>
                                            <th>Giao hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                    <tr>
                                        <td class="shoping__cart__price">
                                            {{ order.id }}
                                        </td>
                                        <td>
                                            {{ order.time | date:"d/m/Y H:i" }}
                                        </td>
                                        <td>
                                            {{ order.customer.username }}
                                        </td>
                                        <td >
                                            {% if order_check|get_item:order.id %}<span style="background: #ffc58b; padding: 2px 8px; margin: 0 3px; border-radius: 10px; "> Đã thanh toán </span>
                                            {% else %} <span style="background: #dfe4e8; padding: 2px 8px; border-radius: 10px;"> Chưa thanh toán </span> {% endif %}

                                        </td>
                                        <td>
                                            Đang giao
                                        </td>
                                        <td>
                                            {{ order_price |get_item:order.id }}<sup> đ</sup>
                                        </td>
                                        <td>
                                            <a style="" href="{% url 'viewOrder' %}?id={{ order.id }}" class="btn btn-info btn-circle">
                                                <img src="{% static 'admin/icons/view.png' %}" alt="">
                                            </a>
                                            <a href="{% url 'manageOrder' %}" class="btn btn-warning btn-circle">
                                                <img src="{% static 'admin/icons/pen (1).png' %}" alt="">
                                            </a>
                                            <a href="{% url 'delOrder' %}?id={{ order.id }}" class="btn btn-danger btn-circle ">
                                                <img src="{% static 'admin/icons/trash (1).png' %}" alt="">
                                            </a>
{#                                            <a style="" href="" class="btn btn-primary btn-sm">Xem</a>#}
{#                                            <a href="{% url 'manageOrder' %}" class="btn btn-primary btn-sm">Sửa</a>#}
{#                                            <a href="{% url 'delOrder' %}?id={{ order.id }}" class="btn btn-danger btn-sm">Xóa</a>#}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock blog-slide %}