{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-product %}
    {% include 'admin/layout/message.html' %}
    <div class="container mt-4">
       <h2 class="text-center">QUẢN LÝ THÀNH VIÊN</h2>
    <div class="text-right mb-3">
       <button class="btn btn-primary btn-icon-split p-2" data-toggle="modal" ><a style="color: white;" href="{% url 'addProduct' %}">Thêm người dùng</a></button>
  </div>
  <section class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Đăng Nhập</th>
                                    <th>Email</th>
                                    <th>Họ</th>
                                    <th>Tên</th>
                                    <th>Quyền</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.last_name }}
                                    </td>
                                    <td>
                                        {{ user.first_name }}
                                    </td>
                                    <td>
                                        {% if user.is_staff %}
                                            Admin
                                        {% else %}
                                            Người dùng
                                        {% endif %}


                                    </td>
                                    <td>
                                        <a href="{% url 'editProduct' %}?id={{ product.id }}" class="btn btn-primary btn-sm mr-1">Sửa</a>
                                        <a href="" class="btn btn-danger btn-sm mr-1">Xóa</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock blog-product %}
