{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-slide %}
    {% include 'admin/layout/message.html' %}
    <section style="padding-top: 30px;" class="product-details spad">
        <div class="container">
        <h3 class="text-center mb-3">CHI TIẾT SẢN PHẨM</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{product.ImageURL}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="product__details__text">
                        <ul style="border-top: 0; padding-top: 0; margin-top: 0;">
                            <li><b>Tên sản phẩm: </b> <span>{{product.name}}</span></li>
                            <li>
                                <b>Danh mục: </b>
                                {% for category_name in category_names_list %}
                                    <span>{{ category_name }}</span>,
                                {% endfor %}

                            </li>
                            <li><b>Giá: </b> <span>${{product.price | floatformat:2}}</span></li>
                            <li><b>Giá khuyến mãi: </b> <span>${{product.price_sale | floatformat:2}}</span></li>
                            <li><b>Đơn vị:  </b> <span>{{product.unit}}</span></li>
                            <li><b>Số lượng:  </b> <span>{{product.count}}</span></li>
                            <li><b>Mô tả: </b> <br> <span>{{product.describe}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock blog-slide %}