{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{%  static 'app/images/smile.png' %}" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home_manage' %}">
                    <img src="{%  static 'app/images/dashboard.png' %}" alt="">
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageCategory' %}">
                    <img src="{%  static 'app/images/dashboard.png' %}" alt="">
                    <span>DANH MỤC</span>
                </a>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageSlide' %}" >
                    <img src="{%  static 'app/images/dashboard.png' %}" alt="">
                    <span>SLIDE</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageProduct' %}">
                    <img src="{%  static 'app/images/dashboard.png' %}" alt="">
                    <span>SẢN PHẨM</span>
                </a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageUser' %}">
                    <img src="{%  static 'app/images/dashboard.png' %}" alt="">
                    <span>THÀNH VIÊN</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageOrder' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>ĐƠN HÀNG</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageOrder' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>PHẢN HỒI</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>