{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/all.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <script src="{%static 'app/js/all.min.js' %} "></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{%static 'app/js/myscript.js' %} "></script>
        <script src="{%static 'app/js/owl.carousel.min.js' %} "></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        <script type="text/javascript" >
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>

    </head>
    <body>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">
                <ul class="d-flex list-unstyled">
                    <li class="m-3">pvtuan2707@gmail.com</li>
                    <li class="m-3">Tell me why???</li>
                </ul>
            </div>
            <div class="col-4 align-items-center">
                <div class="dropdown justify-content-sm-end">
                    <!-- Button to Trigger Dropdown -->
                    <a  class="btn btn-outline-success dropdown-toggle float-right"
                             type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false" style="visibility: {{ user_login }}">
                        Hello {{request.user}}
                    </a>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Thông tin</a>
                        <a class="dropdown-item" href="#">Option 2</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <!-- Add more options as needed -->
                    </div>
                    <ul class="navbar d-flex list-unstyled ">
                        <li class="nav-item" style="visibility: {{ user_not_login }}">
                            <a class="btn btn-outline-success" href="{% url 'login' %}">Đăng nhập</a>
                        </li>
                        <li class="nav-item" style="visibility: {{ user_not_login }}">
                            <a class="btn btn-outline-success" href="{% url 'register' %}">Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- header -->
            <div class="container">
                <!-- Logo/Home Link -->
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"><img src="{% static 'app/images/logo.png'%}" alt="Logo"></a>
                    </div>
                    <!-- Navbar Links -->
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center">
                            <a class="nav-link m-lg-2 pl-3 pr-3 font-weight-bold" href="#">TRANG CHỦ</a>

                            <a class="nav-link m-lg-2 pl-3 pr-3 font-weight-bold" href="#">MUA SẮM</a>

                            <a class="nav-link m-lg-2 pl-3 pr-3 font-weight-bold" href="#">LIÊN HỆ</a>
                        </div>
                    </div>
                    <!-- Cart Link -->
                    <div class="col-md-3">
                        <ul class="navbar list-inline justify-content-lg-start">
                            <li class="nav-item d-flex">
                            <a class="nav-link" href="{% url 'cart' %}">
                              <img  src="{% static 'app/images/shopping-cart.png'%}" width="24" height="24"/>
                            </a>
                        </li>
                            <p class="p-2"> {{order.get_cart_item}}</p>
                        </ul>
                    </div>
                </div>
            </div>

        <!-- Category Section and Search Bar -->
        <div class="container mt-4">
            <div class="row">
                <!-- Category Section -->
                <div class="col-md-3">
                    <div class="dropdown">
                        <!-- Button to Trigger Dropdown -->
                        <button class="btn btn-success dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DANH MỤC
                        </button>
                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Option 1</a>
                            <a class="dropdown-item" href="#">Option 2</a>
                            <a class="dropdown-item" href="#">Option 3</a>
                            <!-- Add more options as needed -->
                        </div>
                    </div>
                </div>

                <!-- Search Bar -->
                <div class="col-md-6">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button style="min-width: 100px" class="btn btn-outline-success" type="submit">Tìm Kiếm</button>
                    </form>
                </div>
            </div>
        </div>
          <!--body-->
          {% block blog_slider %}
          {% endblock blog_slider %}
          {% block main-content %}
          {% endblock main-content %}

          {% block cart_content %}
          {% endblock cart_content %}

          {% block content_checkout %}
          {% endblock content_checkout %}

          {% block register_content %}
          {% endblock register_content %}
        {% block login_content %}

        {% endblock login_content %}
        {% block category_context %} {% endblock category_context %}

          <!--footer-->
          <footer class="footer bg-dark text-white mt-5">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h3>Thông tin liên hệ</h3>
                  <p>Địa chỉ: 123 đường ABC, Thành phố XYZ</p>
                  <p>Email: info@example.com</p>
                  <p>Số điện thoại: 123-456-789</p>
                </div>
                <div class="col-md-6">
                  <h3>Đường dẫn nhanh</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Liên hệ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    <script src="{%static 'app/js/addProduct.js' %} "></script>
</html>