{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/all.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="{%static 'app/js/all.min.js' %} "></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{%static 'app/js/myscript.js' %} "></script>
        <script src="{%static 'app/js/owl.carousel.min.js' %} "></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        <script type="text/javascript" >
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>
    </head>
    <body>
        <!-- header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'app/images/Neel.png'%}" width="70" height="70"/>
          </a> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sản phẩm</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm Kiếm</button>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">
                  <img  src="{% static 'app/images/shopping-cart.png'%}" width="24" height="24"/>
                  {% comment %} <p>{{order.get_cart_item}}</p> {% endcomment %}
                </a> 
              </li>
              <p>{{order.get_cart_item}}</p>
              <li class="nav-item">
                <a class="nav-link" href="#">Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
              </li>
            </ul>
          </div>
        </nav>

        
        
          <!--body-->
          {% block blog_slider %}
          {% endblock blog_slider %}
          {% block main-content %}
          {% endblock main-content %}

          {% block cart_content %}
          {% endblock cart_content %}

          {% block content_checkout %}
          {% endblock content_checkout %}

          {% block register_content %}
          {% endblock register_content %}

          <!--footer-->
          <footer>footer</foter>
    </body>
    <script src="{%static 'app/js/addProduct.js' %} "></script>
</html>