{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
        <!-- Css Styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="{%static 'app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/elegant-icons.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/nice-select.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/slicknav.min.css' %}">
        <link rel="stylesheet" href="{%static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{%static 'app/sass/style.scss' %}">

        <script type="text/javascript" >
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>

    </head>
    <body>
    <!-- Nhớ fix màn hình nha -->
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'app/images/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{ count }}</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>{{ total_all }}</span></div>
        </div>
        <div class="header__top__right__auth dropdown " style="display: {{ user_login }}">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  href="{% url 'login' %} " ><i class="fa fa-user"></i>Xin chào {{request.user}}</a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'information' %}">Thông tin</a>
                <a style="display: {{ show_manage }}" class="dropdown-item" href="{% url 'manage' %}">Trang quản trị</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                <!-- Add more options as needed -->
            </div>
        </div>
        <div class="header__top__right__auth" style="display: {{ user_not_login }}">
            <a href="{% url 'login' %} " ><i class="fa fa-user"></i>Đăng Nhập</a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Trang chủ</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Miễn phí ship cho đơn hàng từ 199K</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <div class="header__top__right__auth dropdown " style="display: {{ user_login }}">
                                <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"  href="{% url 'login' %} " ><i class="fa fa-user"></i>Xin chào {{request.user}}</a>
                                <!-- Dropdown Menu -->
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'information' %}">Thông tin</a>
                                     <a class="dropdown-item" href="{% url 'myOrder' %}">Đơn hàng</a>
                                    <a style="display: {{ show_manage }}" class="dropdown-item" href="{% url 'home_manage' %}">Trang quản trị</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                                    <!-- Add more options as needed -->
                                </div>
                            </div>
                            <div class="header__top__right__auth" style="display: {{ user_not_login }}">
                                <a href="{% url 'login' %} " ><i class="fa fa-user"></i>Đăng Nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static 'app/images/logo.png'%}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Trang chủ</a></li>
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'contact' %}">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{count}}</span></a></li>
                        </ul>
                        <div class="header__cart__price">Item: <span>${{total_all | floatformat:2}}</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh Mục</span>
                        </div>
                        <ul>
                            {% for category in categories  %}
                                <li><a href="{% url 'category' %}?category={{ category.slug }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 " style="height: {{ fixed_height }}">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form method="POST" action="{% url 'search' %}">
                                {% csrf_token %}
                                <input type="text" placeholder="What do yo u need?" name="searched"    >
                                <button type="submit" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 974.897.450</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div style="max-height: 400px;" class="container mt-5">
            <div id="slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for index in slide %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for index in slide %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ index.ImageURL }}" class="d-block w-100" alt="">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 style="color: white; font-weight: bold;">
                                    <a style="color:white;" href="{% url 'category' %}?category={{ index.category_slide.slug }}">{{ index.name }}</a>
                                </h3>
                                <p style="color: white">{{ index.detail }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
{#                    {% for foo in slide %}#}
{#                    <div class="hero__item set-bg" style="visibility: {{ slide_hidden }}"  data-setbg="{% static 'app/images/icbars.png' %}">#}
{#                        <div class="hero__text">#}
{#                            <span>FRUIT FRESH</span>#}
{#                            <h2>Vegetable <br />100% Organic</h2>#}
{#                            <p>Free Pickup and Delivery Available</p>#}
{#                            <a href="#" class="primary-btn">SHOP NOW</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% endfor %}#}


                </div>
            </div>
        </div>
    </section>

          <!--body-->
          {% block blog_slider %}{% endblock blog_slider %}
          {% block main-content %}{% endblock main-content %}
          {% block shop-content %}{% endblock shop-content %}
          {% block cart_content %}{% endblock cart_content %}
          {% block blog-page %}{% endblock blog-page %}
          {% block content_checkout %}{% endblock content_checkout %}
          {% block register_content %}{% endblock register_content %}
          {% block login_content %}{% endblock login_content %}
          {% block category_context %} {% endblock category_context %}
          {% block information %}{% endblock information %}
          {% block blog_winshop %}{% endblock blog_winshop %}
          {% block add_address %}{% endblock add_address %}
          {% block edit_address %}{% endblock edit_address %}
          {% block my_order %}{% endblock my_order %}
          <!--footer-->
          <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'home' %}"><img src="{% static 'app/images/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 20 Hoàng Hoa Thám, TN</li>
                            <li>Phone: +84 974.897.450</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên Kết</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="{% static 'app/images/payment-item.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    <!-- Js Plugins -->
    <script src="{%static 'app/js/addProduct.js' %} "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{%static 'app/js/bootstrap.min.js' %} "></script>
{#    <script src="{%static 'app/js/jquery-3.3.1.min.js' %} "></script>#}
    <script src="{%static 'app/js/jquery.nice-select.min.js' %} "></script>
    <script src="{%static 'app/js/jquery.slicknav.js' %} "></script>
    <script src="{%static 'app/js/jquery-ui.min.js' %} "></script>
    <script src="{%static 'app/js/mixitup.min.js' %} "></script>
    <script src="{%static 'app/js/owl.carousel.min.js' %} "></script>
    <script src="{%static 'app/js/main.js' %} "></script>


</html>