
{% extends 'app/base.html' %}
{% load static %}
{% block category_context %}
    <div class="row g-2 pt-5" style="width:100%;">
        {% for product in products%}
            <div class="col-lg-3 col-md-4">
                <div class="card">
                    <img src="{{product.ImageURL}}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.describe}}</p>
                        <h5 class="card-title">${{product.price | floatformat:2}}</h5>
                        <button data-product={{product.id}} data-action="add" class="btn btn-primary add-btn update-btn">Add to cart</button>
                        <a class="btn btn-primary" href="{% url 'detail' %}?id={{ product.id }}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
{% endblock category_context %}