
{% extends 'app/base.html' %}
{% load static %}
{% block category_context %}
    {% include 'app/layout/message.html' %}
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{products.ImageURL}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{products.name}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 đánh giá)</span>
                        </div>
                        <div class="product__details__price">${{products.price | floatformat:2}} </div>
                        <p>{{products.describe}}</p>
                        <div class="product__details__quantity">
                        </div>
                        <button style="border: none" data-product={{products.id}} data-action="add" class="primary-btn add-btn update-btn ">Thêm vào giỏ hàng</button>
                        <a href="#" class="heart-icon"><img src="{% static 'app/images/icons/heart.png' %}" alt=""></a>
                        <ul>
                            <li><b>Loại sản phẩm</b>
                                {% for category_name in category_names_list %}
                                    <span>{{ category_name }}</span>,
                                {% endfor %}
                            </li>
                            <li><b>Đơn vị tính</b><span>{{ products.unit }}</span></li>
                            <li><b>Sả phẩm còn lại</b><span>{{ products.count }}</span></li>
                            <li><b>Chia sẻ sản phẩm</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <div class="tab-content form-outline w-100">
                            <form  method="POST" action="">
                                {% csrf_token %}
                                {{ form.title }}
{#                                <button name="comment"  type="submit"  class="btn btn-primary">Gửi</button>#}
                                <div class="float-end mt-2 pt-1">
                                    <button name="comment" type="submit" class="btn primary-btn btn-sm">Post comment</button>
{#                                    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>#}
                                </div>
                            </form>
                            <h2>Comments:</h2>
                                {% for comment in comments %}
                                <div class="d-flex flex-start mb-4">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                        height="60" />
                                    <div class="ml-3">
                                        <h6 class="fw-bold">{{ comment.user.first_name }}</h6>
                                            <div class="d-flex align-items-center">
                                                <p style="font-size: 11px; font-weight: bold;" class="mb-0">
                                                    {{ comment.date }}
                                                </p>
                                            </div>
                                        <p class="mb-0">{{ comment.title }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock category_context %}