{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}
{% block main-content %}
    {% include 'app/layout/message.html' %}

    <section class="categories">

        <div class="container">
            <div class="section-title">
                <h2>Danh Mục</h2>
            </div>
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for category in categories %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{category.ImageURL}}">
                            <h5><a href="{% url 'category' %}?category={{ category.slug }}">{{category.name}}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Sản Phẩm</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            {% for category in categories %}
                                <li> <a href="{% url 'category' %}?category={{ category.slug }}">{{category.name}} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">

                {% for product in products %}
                    {% if product and product.count > 0  %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{{product.ImageURL}}">
                                    <ul class="featured__item__pic__hover">

                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#" data-product={{product.id}} data-action="add"  class="add-btn update-btn"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="{% url 'detail' %}?id={{ product.id }}">{{product.name}}</a></h6>
                                    <h5>{{product_price | get_item:product.id}} <sup>đ</sup></h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock main-content %}