{% extends 'app/base.html' %}
{% load static %}
{% block blog_slider %}
<div class="container pt-4">
  <div class="row g-2" style="width:100%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for index in slide %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for item in slide %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img class="d-block w-100 img-responsive " src="{{ item.ImageURL }}" alt="Slide">
        <div class="carousel-caption d-none d-md-block">
          <h5> <a class="text-decoration-none text-reset" href="{% url 'category' %}?category={{ item.category_slide.slug }}" >{{ item.name }} </a> </h5>
          <p>{{ item.detail }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
</div>
{% endblock blog_slider %}

{% block main-content %}
    <div class="container mt-4">
        <h4 class="text-center pt-4 ">DANH MỤC SẢN PHẨM</h4>
            <div class="row  pt-4" style="width: 100%;">
                {% for category in categories %}
                  <div class="col-lg-2 col-md-4">
                    <a class="nav-link pl-3 pr-3 font-weight-bold font-size-lg" href="{% url 'category' %}?category={{ category.slug }}">
                        <div class="card">
                            <img src="{{category.ImageURL}}" class="card-img-top" alt="Product 1">
                            <div class="card-body">
                                <h5 class="card-title">{{category.name}}</h5>
                            </div>
                        </div>
                    </a>
                  </div>
                {% endfor %}
            </div>

    <h4 class="text-center pt-4 ">SẢN PHẨM MỚI</h4>
        <div class="d-flex flex-row justify-content-center">
                {% for category in categories %}
                    <a class="nav-link pl-3 pr-3 font-weight-bold font-size-lg" href="{% url 'category' %}?category={{ category.slug }}">{{ category.name }}</a>
                {% endfor %}
        </div>
      <div class="row  pt-4" style="width: 100%;">
        {% for product in products %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card">
                    <img src="{{product.ImageURL}}" class="card-img-top w-100" alt="Product 1">
                    <div class="card-body">
                        <span class="card-title text-sm font-weight-bold">{{product.name}}</span>
                        <br>
{#                        <p class="card-text text-sm">{{product.describe}}</p>#}
                        <span class="card-title text-sm font-weight-bold">${{product.price | floatformat:2}}</span>
                        <br>
                        <button data-product={{product.id}} data-action="add" class="btn btn-primary add-btn update-btn">Add to cart</button>
                        <a class="btn btn-primary" href="{% url 'detail' %}?id={{ product.id }}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>

{% endblock main-content %}