{% extends 'app/base.html' %}
{% load static %}
{% block information %}
    <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <!-- Thông tin người dùng -->
        <div class="card">
          <img src="path_to_user_image.jpg" class="card-img-top" alt="User Image">
          <div class="card-body">
              <h5 class="card-title">Tên user: {{ user.username }}</h5>
              <p class="card-text">Tên người dùng: {{ user.first_name }} </p>
              <p class="card-text">Email người dùng: {{ user.email }} </p>
              <p class="card-text">Fist name:{{ user.first_name }} </p>
              <p class="card-text">Last name: {{ user.last_name }} </p>
            <!-- Các liên kết xử lý khác cho người dùng -->
            <a href="#" class="btn btn-primary">Chỉnh sửa thông tin</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- Hiển thị danh sách bài đăng hoặc thông tin người dùng khác -->
        <div class="card">
          <div class="card-body">
            <!-- Nội dung trang thông tin người dùng -->
            <h5 class="card-title">Thông tin chi tiết</h5>
            <form id="form" method="POST" action="">
                    {% csrf_token %}
					<div id="shipping-info">
						<h4>Shipping Information:</h4>
						<div class="form-field pt-3">
                            {{ form.address }}
						</div>
						<div class="form-field pt-3">
                            {{ form.city }}
						</div>
						<div class="form-field pt-3">
                            {{ form.state }}
						</div>
						<div class="form-field pt-3 pb-5">
                            {{ form.mobile }}
						</div>
					</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
				</form>

              <p>Thông tin địa chỉ: {{ user_address.customer }} -
                  {{ user_address.customer }} -
                  {{ user_address.adress }} -
                  {{ user_address.city }} -
                  {{ user_address.state }} -
                  {{ user_address.mobile }} -
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock information %}
