{% extends 'app/base.html' %}
{% load static %}
{% block information %}
    <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <!-- Thông tin người dùng -->
        <div class="card">
          <img src="path_to_user_image.jpg" class="card-img-top" alt="User Image">
          <div class="card-body">
              <h5 class="card-title">Tên user: {{ user.username }}</h5>
              <p class="card-text">Tên người dùng: {{ user.first_name }} </p>
              <p class="card-text">Email người dùng: {{ user.email }} </p>
              <p class="card-text">Fist name:{{ user.first_name }} </p>
              <p class="card-text">Last name: {{ user.last_name }} </p>
                  {% for address in address_infor %}
                      <p class="card-text">Địa chỉ: {{ address.adress }} - {{ address.city }} - {{ address.state }} - {{ address.mobile }}
                      <br>
                  {% endfor %}
              </p>
            <!-- Các liên kết xử lý khác cho người dùng -->
            <a href="#" class="btn btn-primary">Chỉnh sửa thông tin</a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <!-- Hiển thị danh sách bài đăng hoặc thông tin người dùng khác -->
        <div class="card">
          <div class="card-body">
            <!-- Nội dung trang thông tin người dùng -->
            <form id="form" method="POST" action="">
                    {% csrf_token %}
					<div id="shipping-info">
						<h4>Thêm địa chỉ:</h4>
						<div class="form-field pt-3">
                            Địa chỉ:
                            {{ form.adress }}
						</div>
						<div class="form-field pt-3">
                            Thành phố:
                            {{ form.city }}
						</div>
						<div class="form-field pt-3">
                            CHi tiết:
                            {{ form.state }}
						</div>
						<div class="form-field pt-3 pb-5">
                            Số điện thoại:
                            {{ form.mobile }}
						</div>
					</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
				</form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock information %}
