
{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
    <div class="container align-items-center">
        <div class="row" style="width:100%">
        {% for order in my_orders %}
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <h3 class="text-center">D</h3>

                <div class="box-element" id="form-wrapper">
                    <div id="shipping-info">
                        <p>Địa chỉ nhận hàng:
                            <span id="firstName">{{ order.user_address.name_user }}</span> ,
                            <span id="mobile">{{ order.user_address.mobile }}</span>,
                            <span id="state">{{ order.user_address.adress }}</span>,
                            <span id="address">{{ order.user_address.commune }}</span>,
                            <span id="city">{{ order.user_address.district }}</span>
                            <span id="city">{{ order.user_address.city }}</span>
                        </p>

                    </div>

                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>Sản phẩm</th>
                            <th>Đơn Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in order_items %}
                          <tr>
                            <td>{{item.product.name}}</td>
                            <td>${{item.product.price}}</td>
                            <td>{{item.quantity}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <div class="">
                        <h5> <b> Tổng cộng:</b>  ${{order.total | floatformat:2}}</h5>
                      </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        {% endfor %}
        </div>
    </div>



{% endblock content_checkout %}