
{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style="width:100%">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST" action="">
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
                        print({{ shipping }})
						<div class="form-field pt-2">
							<p>{{ shipping.adress }}</p>
						</div>
						<div class="form-field pt-2">
							<p>{{ shipping.adress }}</p>
						</div>
						<div class="form-field pt-2">
							<p>{{ shipping.adress }}</p>
						</div>
						<div class="form-field pt-2 ">
							<p>{{ shipping.adress }}</p>
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" name="continue" type="submit" value="Continue">
				</form>
			</div>


		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<table class="table">
					<thead>
					  <tr>
						<th>Ảnh</th>
						<th>Sản phẩm</th>
						<th>Số lượng</th>
						<th>Giá</th>
						<th>Thành tiền</th>
					  </tr>
					</thead>
					<tbody>
					  {% for item in items %}
					  <tr>
						<td> <img style="height: 80px; width: auto;" src="{{item.product.ImageURL}}"/> </td>
						<td>{{item.product.name}}</td>
						<td>{{item.quantity}}</td>
						<td>${{item.product.price}}</td>
						<td>${{ item.total }}</td>

					  </tr>
					  {% endfor %}
					</tbody>
				  </table>
				  <div class="text-right">
					<h4>Tổng cộng: ${{order.get_cart_total}}</h4>
				  </div>
				{% comment %} <h5>Items:   2</h5>
				<h5>Total:   $4</h5> {% endcomment %}
			</div>
		</div>
	</div>
{% endblock content_checkout %}