
{% extends 'app/base.html' %}
{% load static %}
{% block login_content %}
    <h5 class="pt-3">Keet qua tim kiem {{ search }}</h5>
    <div class="row g-2 pt-4" style="width:100%;">
        {% for product in keys%}
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{product.ImageURL}}" class="img-thumbnail" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text"> {{product.describe}}</p>
                        <h5 class="card-title"> ${{product.price | floatformat:2}}</h5>
                        <button data-product={{product.id}} data-action="add" class="btn btn-primary add-btn update-btn">Add to cart</button>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
{% endblock login_content %}